body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#grid-container {
    border-top: solid black;
    border-left: solid black;
    width: 75vh;
    height: 75vh;
}
