body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#grid-container {
    border: solid black;
    width: 75vh;
    height: 75vh;
}

.grid-rows {
    display: flex;
    width: 75vh;
    height: calc(75vh / 16);
}

.grid {
    width: calc(75vh / 16);
    height: calc(75vh / 16);
    border: solid black;
}